# Задача 3.1

In [14]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [15]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [20]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+smsa', data=df).fit()
sleep_eq1.params

Intercept    3494.223143
totwrk         -0.167681
age             2.806498
male           86.908377
smsa          -75.285755
dtype: float64

$$
Intercept = 3494.22, totwrk = -0.17, age = 2.81, male = 86.91, smsa = -75.29
$$

In [21]:
data_string='''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398
'''
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [22]:
ESS = ((df['Fitted'] - np.mean(df['Факт']))**2).sum() #Fitted - y с крышечкой!
ESS.round(3)

288096.946

In [23]:
TSS = ((df['Факт'] - np.mean(df['Факт']))**2).sum()
TSS.round(3)

945233.333

In [31]:
RSS = TSS-ESS # по ФОРМУЛЕ
round(RSS,3)

657136.387

In [33]:
RSS = ((df['Факт'] - (df['Fitted']))**2).sum() # по ОПРЕДЕЛЕНИЮ, НЕ СХОДИТСЯ С РАСЧЕТОМ ПО ФОРМУЛЕ!
RSS.round(3)

467092.855

In [34]:
R2=ESS/TSS
round(R2,3)

0.305

In [35]:
n=6
k=4

In [36]:
R2adj=1-(1-R2)*(n-1)/(n-k)
round(R2adj,3)

-0.738

$$
ESS = 288096.946, TSS = 945233.333, RSS (?) = 657136.387, R^2 = 0.305, R^2_{adj}=-0.738
$$