# Задача 2.3

In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [2]:
data_string='''sleep/60 totwrk age y.hat
51.88     3438  32  51.00
48.67     5020  31  44.43
44.50     2815  44  53.72
51.38     3786  30  49.53
57.47     2580  64  54.92
67.72     1205  41  60.36
53        2113  35  56.53
48.80     3608  47  50.46
56.13     2353  32  55.50
50.30     2851  30  53.41
'''
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   sleep/60  totwrk  age  y.hat
0     51.88    3438   32  51.00
1     48.67    5020   31  44.43
2     44.50    2815   44  53.72
3     51.38    3786   30  49.53
4     57.47    2580   64  54.92
5     67.72    1205   41  60.36
6     53.00    2113   35  56.53
7     48.80    3608   47  50.46
8     56.13    2353   32  55.50
9     50.30    2851   30  53.41

In [3]:
ESS = ((df['y.hat'] - np.mean(df['sleep/60']))**2).sum()
ESS.round(2)

173.19

In [4]:
TSS = ((df['sleep/60'] - np.mean(df['sleep/60']))**2).sum()
TSS.round(2)

366.26

In [7]:
R2=ESS/TSS
round(R2,2)

0.47

In [16]:
n=10 
k=2 #с ответом НВ сходится, если к=3. 
# Однако в условии функция sleep/60=const, y.hat - остатки, которые также являются числом (const), не считаем

In [17]:
R2adj=1-(1-R2)*(n-1)/(n-k)
round(R2adj,2)

0.41

$$
R^2_{adj}=0.41
$$