# Задача 3.2

In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/sleep75.csv')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [4]:
sleep_eq1 = smf.ols(formula='sleep~totwrk+age+male+south', data=df).fit()
sleep_eq1.params

Intercept    3444.997481
totwrk         -0.169384
age             2.784779
male           90.743163
south         116.443437
dtype: float64

In [5]:
data_string='''i   Факт  Fitted  Остаток 
1   2670 3132.491 -462.491
9   3090 3370.083 -280.083
56  2985 2835.360 149.640 
76  3660 3248.540 411.460 
100 2618 2863.070 -245.070
'''
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  2670  3132.491 -462.491
1    9  3090  3370.083 -280.083
2   56  2985  2835.360  149.640
3   76  3660  3248.540  411.460
4  100  2618  2863.070 -245.070

In [6]:
ESS = ((df['Fitted'] - np.mean(df['Факт']))**2).sum() #Fitted - y с крышечкой!
ESS.round(3)

258113.573

In [7]:
TSS = ((df['Факт'] - np.mean(df['Факт']))**2).sum()
TSS.round(3)

698643.2

In [8]:
RSS = TSS-ESS # по ФОРМУЛЕ
round(RSS,3)

440529.627

In [9]:
RSS = ((df['Факт'] - (df['Fitted']))**2).sum() # по ОПРЕДЕЛЕНИЮ, НЕ СХОДИТСЯ С РАСЧЕТОМ ПО ФОРМУЛЕ!
RSS.round(3)

544095.178

In [10]:
R2=ESS/TSS
round(R2,3)

0.369

In [12]:
n=5
k=4

In [13]:
R2adj=1-(1-R2)*(n-1)/(n-k)
round(R2adj,3)

-1.522

$$
ESS = 258113.573, TSS = 698643.2, RSS (?) = 440529.627, R^2 = 0.369, R^2_{adj}=-1.522
$$

In [16]:
# s=np.sqrt(RSS/(n-k-1))
# round(s,2)
# не делится на 0