# Задача 1.2.4

In [54]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [55]:
data_string='''residual
-0.24
0.41
1.22
-0.93
-0.37
-1.33
0.16
-0.27
0.06
1.29
'''
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df['residual']
df

   residual
0     -0.24
1      0.41
2      1.22
3     -0.93
4     -0.37
5     -1.33
6      0.16
7     -0.27
8      0.06
9      1.29

In [56]:
# создаем столбец со значениями квадратов регресионных остатков
df['residual^2'] = df['residual']**2
df

   residual  residual^2
0     -0.24      0.0576
1      0.41      0.1681
2      1.22      1.4884
3     -0.93      0.8649
4     -0.37      0.1369
5     -1.33      1.7689
6      0.16      0.0256
7     -0.27      0.0729
8      0.06      0.0036
9      1.29      1.6641

In [57]:
# находим сумму квадратов регрессионных остатков
df[['residual^2']].sum(axis=0)

residual^2    6.251
dtype: float64

$$
RSS = 6.25
$$

## Стандартная ошибка регрессии вычисляется по формуле:
$$
s=\sqrt{(\frac{RSS}{(n-k)})}
$$

In [64]:
n=10
k=3
s=np.sqrt(6.25/(n-k))
round(s,2)

0.94

$$
s = 0.94
$$