# Задача 1.2.6

In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

In [2]:
data_string='''log(output) log(capital) log(labour) y.hat
2.22            0.96        5.21     2.19 
1.30            0.28        4.51     1.47 
3.36            3.10        6.05     3.23 
1.42            2.37        4.28     1.56 
1.06            0.15        3.83     0.85 
6.17            5.62        8.94     6.15 
0.77            0.52        3.87     0.94 
1.42            0.15        4.68     1.61 
0.90           -0.13        3.56     0.57 
1.35            1.25        4.28     1.40 
'''
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   log(output)  log(capital)  log(labour)  y.hat
0         2.22          0.96         5.21   2.19
1         1.30          0.28         4.51   1.47
2         3.36          3.10         6.05   3.23
3         1.42          2.37         4.28   1.56
4         1.06          0.15         3.83   0.85
5         6.17          5.62         8.94   6.15
6         0.77          0.52         3.87   0.94
7         1.42          0.15         4.68   1.61
8         0.90         -0.13         3.56   0.57
9         1.35          1.25         4.28   1.40

In [7]:
# Общая сумма квадратов TSS:
TSS = ((df['log(output)'] - np.mean(df['log(output)']))**2).sum()
TSS.round(2)

24.48

In [8]:
# Остаточная сумма квадртов
RSS = ((df['log(output)'] - df['y.hat'])**2).sum()
RSS.round(2)

0.29

In [9]:
# Объясненная сумма квадратов по ФОРМУЛЕ
ESS = ((df['y.hat'] - np.mean(df['log(output)']))**2).sum()
ESS.round(2)

24.25

$$
TSS = 24.48, RSS = 0.29, ESS = 24.25
$$