In [1]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf
import scipy.stats as stats

In [3]:
df_ins=pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/3insurance.csv')
df_ins

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
ins_eq = smf.ols(data=df_ins, formula='np.log(age)~bmi+children+charges').fit()
ins_eq.params.round (3)

Intercept    3.362
bmi          0.003
children     0.023
charges      0.000
dtype: float64

# Спецификация
$$
log(wage) = 5.126 + 0.014*age + 0.007*IQ - 0.101*south + 0.165*urban + 0.191*married + 0.007*KWW
$$

In [7]:
ins_eq.ess.round(3)
# ESS

18.608

In [8]:
models = smf.ols(data=df_ins, formula='np.log(age)~bmi+children+charges').fit()
models.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            np.log(age)   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.089
Method:                 Least Squares   F-statistic:                     44.63
Date:                Fri, 24 Mar 2023   Prob (F-statistic):           1.75e-27
Time:                        18:56:15   Log-Likelihood:                -576.31
No. Observations:                1338   AIC:                             1161.
Df Residuals:                    1334   BIC:                             1181.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      3.3624      0.053     63.472      0.000       3.258       3.466
bmi            0.0030      0.002      1.748      0.081      -0.000       0.006
children       0.0231      0.008      2.724      0.007       0.006       0.040
charges     8.899e-06   8.61e-07     10.337      0.000    7.21e-06    1.06e-05
==============================================================================
Omnibus:                      218.474   Durbin-Watson:                   1.947
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               77.947
Skew:                          -0.375   Prob(JB):                     1.19e-17
Kurtosis:                       2.086   Cond. No.                     9.34e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.34e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [9]:
models.summary(alpha=0.01).tables[1]

In [13]:
df['t_nabl']=df['coef']/df['std err']
df

NameError: name 'df' is not defined