In [1]:
import pandas as pd
import numpy as np
import io
import statsmodels.formula.api as smf

## Задача 1.1.1

In [4]:
data_string='''sleep totwrk age male hrwage
3113   3438  32   1    7.07 
2920   5020  31   1    1.43 
2670   2815  44   1   20.53 
3083   3786  30   0    9.62 
3448   2580  64   1    2.75 
4063   1205  41   1   19.25'''

In [5]:
# sep='\s+' в качестве разделителя набор пробелов, причем разного количества
df = pd.read_csv(io.StringIO(data_string), sep='\s+')
df

   sleep  totwrk  age  male  hrwage
0   3113    3438   32     1    7.07
1   2920    5020   31     1    1.43
2   2670    2815   44     1   20.53
3   3083    3786   30     0    9.62
4   3448    2580   64     1    2.75
5   4063    1205   41     1   19.25

In [7]:
# создаем еще один столбец y_pred, который считается по следующей формуле:
df['y_pred'] =  3525.14 + df['totwrk']*(-0.16) + df['age']*(1.62) + df['male']*(51.84) + np.log(df['hrwage'])*(-9.88)
df

   sleep  totwrk  age  male  hrwage       y_pred
0   3113    3438   32     1    7.07  3059.416098
1   2920    5020   31     1    1.43  2820.466176
2   2670    2815   44     1   20.53  3168.003754
3   3083    3786   30     0    9.62  2945.613219
4   3448    2580   64     1    2.75  3257.865383
5   4063    1205   41     1   19.25  3421.379791

In [9]:
# для нахождения остатков нужно из sleep (фактическое значение) вычесть предсказанное значение (y_pred)
df['residual']=df['sleep']-df['y_pred']
df

   sleep  totwrk  age  male  hrwage       y_pred    residual
0   3113    3438   32     1    7.07  3059.416098   53.583902
1   2920    5020   31     1    1.43  2820.466176   99.533824
2   2670    2815   44     1   20.53  3168.003754 -498.003754
3   3083    3786   30     0    9.62  2945.613219  137.386781
4   3448    2580   64     1    2.75  3257.865383  190.134617
5   4063    1205   41     1   19.25  3421.379791  641.620209

## Задача 1.1.2

In [23]:
data_string2='''output capital labour
9.25    2.61    184  
3.66    1.32     91  
28.78   22.09   426  
4.12    10.74    72  
2.89    1.16     46  '''
df = pd.read_csv(io.StringIO(data_string2), sep='\s+')
df

   output  capital  labour
0    9.25     2.61     184
1    3.66     1.32      91
2   28.78    22.09     426
3    4.12    10.74      72
4    2.89     1.16      46

In [24]:
df['y_pred2'] =  -1.71  + np.log(df['capital'])*(0.21) + np.log(df['labour'])*(0.71)
df

   output  capital  labour   y_pred2
0    9.25     2.61     184  2.194068
1    3.66     1.32      91  1.551013
2   28.78    22.09     426  3.238628
3    4.12    10.74      72  1.824968
4    2.89     1.16      46  1.039504

In [25]:
df['residual']=np.log(df['output'])-df['y_pred2']
df. round (2)

   output  capital  labour  y_pred2  residual
0    9.25     2.61     184     2.19      0.03
1    3.66     1.32      91     1.55     -0.25
2   28.78    22.09     426     3.24      0.12
3    4.12    10.74      72     1.82     -0.41
4    2.89     1.16      46     1.04      0.02

## Задача 1.2.1

In [40]:
#можно также делать через присваивание переменных
ESS = 100.35 - 47.67
round(ESS, 2) #округляем, используя функцию к конкретному числу

52.68

In [39]:
R2= 47.56/100.35
round(R2, 2)

0.47

## Задача 1.2.2

In [44]:
TSS = 240.82
RSS = 93.52
ESS = TSS - RSS
round(ESS,2)

147.3

In [45]:
R2=ESS/TSS
round(R2,2)

0.61

## Задача 2.1

In [47]:
# исправленный коэффициент детерминации, n - количество наблюдений в наборе данных, k - количество параметров модели
# \frac - дробь

$$
R^2_{adj}=1-(1-R^2)*\frac{(n-1)}{(n-k)}
$$

In [53]:
n=526 #количество набюлюдений, в условии
k=5 #количество регрессоров,в условии. Intercept (constant) не считаем!
R2=0.288 #коэффициент детерминации, в условии

In [54]:
R2adj=1-(1-R2)*(n-1)/(n-k)
round(R2adj,3)

0.283

## Задача 3.1

In [56]:
better_check = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''
op = pd.read_csv(io.StringIO(better_check), sep='\s+')
op

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [62]:
op ['Факт'].mean() #среднее значение от всего столбца Факт

3316.6666666666665

In [66]:
TSS = np.sum( (op['Факт'] - op ['Факт'].mean() )**2 )
TSS #не совпадает с ответом

945233.3333333334

In [68]:
ESS = np.sum( (op['Fitted'] - op ['Факт'].mean() )**2 ) #Fitted - y с крышечкой
ESS

288096.9463873332

In [74]:
RSS = TSS - ESS
RSS

657136.3869460002

In [77]:
R2=ESS/TSS
round(R2, 3)
#коэффициент детерминации

0.305

$$
SER = \sqrt{RSS}
$$

In [1]:
np.sqrt(RSS)
round (RSS,2)

NameError: name 'np' is not defined