# Задача 1.1

In [14]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf
import scipy.stats as stats
import re

In [15]:
data_string='''Observations     706         706         706         706    
R2              0.132       0.131       0.128       0.007   
Adjusted_R2     0.121       0.123       0.121       0.002 '''

In [21]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+', header=None, index_col=0) # header=None - нет заголовков, просто нумерация строк
df

                    1        2        3        4
0
Observations  706.000  706.000  706.000  706.000
R2              0.132    0.131    0.128    0.007
Adjusted_R2     0.121    0.123    0.121    0.002

In [26]:
df.reset_index()

              0        1        2        3        4
0  Observations  706.000  706.000  706.000  706.000
1            R2    0.132    0.131    0.128    0.007
2   Adjusted_R2    0.121    0.123    0.121    0.002

In [27]:
df=df.transpose() #транспонируем 
df

0  Observations     R2  Adjusted_R2
1         706.0  0.132        0.121
2         706.0  0.131        0.123
3         706.0  0.128        0.121
4         706.0  0.007        0.002

In [29]:
df['m']=[10,8,6,5] #создаем столбец m
df

0  Observations     R2  Adjusted_R2   m
1         706.0  0.132        0.121  10
2         706.0  0.131        0.123   8
3         706.0  0.128        0.121   6
4         706.0  0.007        0.002   5

In [32]:
df['F_obs']=(df['R2']/(1-df['R2']))*((df['Observations']-df['m']))/((df['m']-1))
df

0  Observations     R2  Adjusted_R2   m      F_obs
1         706.0  0.132        0.121  10  11.760369
2         706.0  0.131        0.123   8  15.031728
3         706.0  0.128        0.121   6  20.550459
4         706.0  0.007        0.002   5   1.235398

In [36]:
alpha=0.05
df['F_cr']=stats.f.ppf(1-alpha, df['m']-1, df['Observations']-df['m']) # F(alpha, k, n-k)
df

0  Observations     R2  Adjusted_R2   m      F_obs      F_cr
1         706.0  0.132        0.121  10  11.760369  1.893317
2         706.0  0.131        0.123   8  15.031728  2.022681
3         706.0  0.128        0.121   6  20.550459  2.226901
4         706.0  0.007        0.002   5   1.235398  2.384638

In [40]:
df['znachimost'] = df.apply(lambda x: 'znachimo' if x['F_obs'] > x['F_cr'] else 'ne znachimo', axis = 1)
df

0  Observations     R2  Adjusted_R2   m      F_obs      F_cr   znachimost
1         706.0  0.132        0.121  10  11.760369  1.893317     znachimo
2         706.0  0.131        0.123   8  15.031728  2.022681     znachimo
3         706.0  0.128        0.121   6  20.550459  2.226901     znachimo
4         706.0  0.007        0.002   5   1.235398  2.384638  ne znachimo

$$ H_0: \beta_0 = \beta_1 = \dots = \beta_k = 0 $$
$$ H_1: \beta_{0}^2 + \beta_{1}^2 + \dots \beta_k^{2} > 0$$

# Задача 2.1

$$ H_0: \beta_{marr} = \beta_{union} = \beta_{yngkid} = \beta_{smsa} = 0 $$
$$ H_1: \beta_{marr}^2 + \beta_{union}^2 + \beta_{yngkid}^2 + \beta_{smsa}^2 > 0 $$

In [43]:
# определяет, нужен + или -; будет упоминаться либо один раз, либо 0; \d - любая цифра, \d+ бесконечное кол-во раз
# regex101.com, подсвечиваем все десятичные числа
# findall вовзращает список элементов, удовлетворяющих условию
unrest, rest = np.float_(re.findall(r'([-+]?\d+.\d+)', 'R2                      0.131          0.127 '))
print(unrest, rest)

0.131 0.127

In [46]:
# даны квадраты!
F_obs=(unrest-rest)/(1-unrest)*(706-9)/(4)
round(F_obs,3)

0.802

In [49]:
alpha=0.05
F_cr=stats.f.ppf(1-alpha,4,706-9)
round(F_cr,3) # (1-alpha, q, n-k)

2.385

$$ F_{obs} < F_{critical} $ следовательно, данные согласуются с гипотезой $H_0