In [1]:
import numpy as np 
import pandas as pd 
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/Labour.csv')
df

       capital  labour     output       wage
0     2.606563     184   9.250759  43.080307
1     1.323237      91   3.664310  27.780016
2    22.093692     426  28.781516  44.467748
3    10.737851      72   4.124642  39.734710
4     1.161365      46   2.890150  34.650709
..         ...     ...        ...        ...
564   2.625403      20   1.424376  33.477545
565   1.276386      61   2.109048  26.300732
566   1.953869     117   6.241870  41.153979
567   1.318527      46   7.902237  66.720139
568   2.832391     161   6.804085  36.618435

[569 rows x 4 columns]

# Спецификация
$$
log(output) = \beta_0 + \beta_1*log(capital) + \beta_2*log(labour)
$$

In [3]:
output_eq1 = smf.ols(formula='np.log(output)~np.log(capital) + np.log(labour)', data=df).fit()
output_eq1.params.round (3)

Intercept         -1.711
np.log(capital)    0.208
np.log(labour)     0.715
dtype: float64

$$
log(output) = -1.711 + 0.208*log(capital) + 0.715*log(labour)
$$

1. При увеличении капитала на 1%, выпуск увеличивается на 20,8%
2. При увеличении количества работников на 1%, выпуск увеличиватеся на 71,5%