In [14]:
import numpy as np
import pandas as pd
import io
import statsmodels.formula.api as smf
import scipy.stats as stats
import re

In [15]:
data_string='''Observations     706         706         706         706    
R2              0.132       0.131       0.128       0.007   
Adjusted_R2     0.121       0.123       0.121       0.002 '''

In [21]:
df = pd.read_csv(io.StringIO(data_string), sep='\s+', header=None, index_col=0) # header=None - нет заголовков, просто нумерация строк, index_col=0 - не столбец, а просто наименование для строк
df

                    1        2        3        4
0
Observations  706.000  706.000  706.000  706.000
R2              0.132    0.131    0.128    0.007
Adjusted_R2     0.121    0.123    0.121    0.002

In [22]:
df=df.transpose()
df

0  Observations     R2  Adjusted_R2
1         706.0  0.132        0.121
2         706.0  0.131        0.123
3         706.0  0.128        0.121
4         706.0  0.007        0.002